.wrapper {
    padding: 0;
    .container {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        .title {
            text-align: center;
            font-family: arial, sans-serif;
        }
        .freelancers {
            width: 80%;
            margin: 0 auto;
            text-align: center;
            font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            border: 3px solid #ddd;
            .table-header {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: #4f5d73;
                color: #fff;
            }
            td,
            th {
                border: 1px solid #fff;
                padding: 8px;
            }
            tr:nth-child(even) {
                background-color: #d0d0e1;
            }
            tr:hover {
                background-color: #a9a9a9;
            }
        }
        
    }
}
.table-paging {
    margin-top: 10px;
    margin-left: 10%;
    color: rgba(22, 24, 35, 0.5) !important;
    .active-page span{
        background-color: #4f5d73 !important;
        border-color: #4f5d73 !important;
        color: var(--white) !important;
    }
    li a{
        color: rgba(22, 24, 35, 0.8) !important;
    }
}

.search{
    margin-bottom: 5px;
    margin-left: 10%;
}
