.wrapper {
    margin: 100px 120px 0 120px;
    min-height: 600px;
}
.container{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    padding-top: 0;
    margin-bottom: 30px;
}
.left{
    width: 49%;
    padding: 5%;
    h1{
        font-size: 24px;
        img{
            width: 100px;
            height: 100px;
            margin-bottom: 35px;
        }
    }
    p{
        font-size: 28px;
        font-weight: 600;
    }
}
.form{
    width: 70%;
}
.label{
    font-weight: 600;
}
.email{
    margin-bottom: 10px;
}

.bottom{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.btn-reset{
    margin-top: 30px;
    font-size: 20px;
    height: 50px;
}

.error-message{
    p{
        font-size: 16px !important;
        margin: 0;
        font-weight: 400;
        color: red;
    }
}
.success-message{
    p{
        color: green;
        font-size: 16px !important;
        margin: 0;
        font-weight: 400;
    }
}
.right{
    width: 49%;
    padding-top: 80px;
    padding-left: 100px;
    h2{
        font-size: 24px;
        color: #475B6F;
        margin-bottom: 20px;
    }
}
.validate{
    color: red;
    div{
        border-color: red;
    }
    input{
        border-color: red;
    }
    + div{
        border-color: red;
    }
}

