.wrapper {
    margin: 60px;
    margin-bottom: 0;
    .container {
        width: 900px;
        margin: 0 auto;
        background-color: #ffffff;
        .head{
            width: 100%;
            padding-bottom: 5px;
            border-bottom: 1px solid #a8a2a2;
          
            .page-title {
                padding: 30px 20px;
                text-align: center;
                color: #5e5353;
                font-weight: 500;
                font-size: 26px;
            }
    
            .mini-nav {
                margin-left: 1%;
                display: flex;
                flex-direction: row;
                :hover {
                    background-color: #c2e3fc;
                    cursor: pointer;
                }
                .nav-item2 {
                    width: 15%;
                    padding: 5px;
                    text-align: center;
                    border-right: 1px solid #5e5353;
                }
        }
        }
        .list-post {
            padding: 10px;
        }

        .paging {
            padding: 10px;
        }
    }
}
.active{
    background-color: #c2e3fc;
}
.filter{
    padding: 1%;
}

// postItem

.wrapper-post{
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #a8a2a2;
}
.row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-title{
    font-size: 24px;
    text-decoration: none;
    color: #358ccb;
    padding: 0;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #2a70a3;
    }
}

.action-save{
    color: #e09044;
    font-size: 24px;
    &:hover{
        cursor: pointer;
    }
}
.message{
    padding: 5px;
    border-radius: 5px;

    p{
        margin: 0;
        font-weight: 600;
        color: white;
    }
}
.message1{
    background-color: #25be30;
}
.message0{
    background-color: #d03032;
}
.message2{
    background-color: #B15C0D;
}
.row-2{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-left: 5px;
    color: gray;
}
.post-payment{

}
.post-budget{
    margin-left: 5px;
}
.post-posted-time{
    margin-left: 5px;
}
.row-3{
    font-size: 18px;
    margin-left: 5px;
    margin-left: 20px;
}
.row-4{
    color: white;
    background-color: #2A61F0;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0;
}
.post-subCareer{
    margin: 0;
    font-size: 18px;
    padding: 2px 10px;
    line-height: 20px;
}
.row-5{
    display: flex;
    flex-direction: row;
}
.skill{
    font-size: 18px;
    color: white;
    background-color: #B2BDC9;
    display: inline-block;
    border-radius: 10px;
    +div{
        margin-left:3px;
    }
    p{
        line-height: 20px;
        margin: 0;
        padding: 1px 10px;
    }


}
.row-6{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-top: 10px;
}
.area{
    margin: 0;
}
.icon-location{
    color: gray;
    padding-top: 1px;
    margin-right: 5px;
}