.wrapper {
    margin: 60px;
    .container {
        width: 1200px;
        padding: 0px 20px 60px 20px;
        margin: 0 auto;
        background: #ffffff;
        font-size: 24px;

        .left {
            width: 28%;
            height: 100%;
            .left-component {
                width: 90%;
                margin: 0 auto;
                border: 1px solid #a8a2a2;
                border-radius: 5px;
            }
        }

        .right {
            width: 70%;
            margin-left: 15px;
            border-radius: 5px;
            height: 100%;
            border: 1px solid #a8a2a2;
            float: right;
            .right-component {
                padding: 5px 10px;
                
            }
        }
    }
}
.page-title{
    font-weight: 600;
}
.displayFlex{
    display: flex;
    flex-direction: row;
}

.left-banner{
    width: 290px;
    margin: 0 auto;
    margin-top: 5%;
    img{
        width: 100%;
    }
}
.combobox-filter{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px;
}
.select-location{
    width: 24%;
    height: 35px;
    margin-right: 1%;
}
.select-budget{
    width: 24%;
    height: 35px;
    margin-right: 1%;
}
.search-input{
    width: 50%;
    height: 35px;
}

.container-post{
    padding: 10px;
}
.list-post-title {
    border-radius: 20px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: white;
    background-color: #1890ff;
    padding: 2px 0;
}
.post {
    padding: 10px
    //border: 1px solid #a8a2a2;

}
.message-result{
    margin: 0;
    padding: 10px;
    text-align: center;
}
.featured-post{
    width: 1150px;
    height: 80px;
    margin-left: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
}
// postItem

.wrapper-post{
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid #a8a2a2;
}
.row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-title{
    font-size: 24px;
    text-decoration: none;
    color: #358ccb;
    padding: 0;
    text-align: left;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #2a70a3;
    }
}

.action-apply{
    margin-right: 10px;
    color: #e2383b;

    &:hover{
        cursor: pointer;
    }
}
.action-save{
    color: #e09044;
    &:hover{
        cursor: pointer;
    }
}
.row-2{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-left: 5px;
    color: gray;
}
.post-budget{
    margin-left: 5px;
}
.post-posted-time{
    margin-left: 5px;
}
.row-3{
    font-size: 18px;
    margin-left: 20px;
}
.row-4{
    color: white;
    background-color: #2A61F0;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    margin-left: 0;
}
.post-subCareer{
    margin: 0;
    font-size: 18px;
    padding: 2px 10px;
    line-height: 20px;
}
.row-5{
    display: inline-block;
    width: 100%;
}
.skill{
    font-size: 18px;
    color: white;
    background-color: #B2BDC9;
    border-radius: 10px;
    line-height: 20px;
    padding: 1px 10px;
    display: inline-block;
    +div{
        margin-left:3px;
    }
}
.row-6{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    margin-top: 10px;
}
.area{
    margin: 0;
}
.icon-location{
    color: gray;
    padding-top: 1px;
    margin-right: 5px;
}

// Top post
.Top-post{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}
.box{
    position: relative;
    width: 220px;
    height: 261px;
    &:hover{
        cursor: pointer;
        .top-title{
            color: #2a70a3;
        }
    }
}
.wrapper-top{
    display: flex;
    flex-direction: column;
    border: 1px solid #dbd6d6;
    padding-bottom: 10px;
    img{
        width: 220px;
        height: 110px;
        margin-left: -1px;
    }
}
.top-title{
    font-size: 16px;
    font-weight: 600;
    width: 220px;
    height: 64px;
    text-align: center;
    padding: 5px;
    color: #358ccb;
}
.top-container{
    display: flex;
    flex-direction: row;
    padding: 2px 10px;
}
.background-sub-career{
    color: white;
    background-color: #2A61F0;
    border-radius: 10px;
    width: fit-content;
    margin-left: 10px;
}
.top-padding{
    padding: 2px 10px;
    line-height: 20px;
}
.top-icon{
    color: gray;
    width: 14px;
    height: 20px;
    margin-right: 5px;
}
.top-text{
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}
.top-margin{
    margin-left: 5px;
}
.top-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}
.bottom-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
} 
.left-top{
    position: absolute;
    top: 20px;
    left: -20px;
    width: 261px;
    height: 220px;
    display: block;
    box-sizing: border-box;
}
.right-top{
    position: absolute;
    top: 20px;
    left: -20px;
    width: 261px;
    height: 220px;
    display: block;
    box-sizing: border-box;
} 
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: linear-gradient(to right, #7A7FBA, #11C37C);
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 
