.wrapper {
    .container {
        margin: 100px auto;
        width: 900px;
        height: fit-content;
        background-color: #fff !important;
        .form-select {
            width: 60%;
            height: 50px;
            border-radius: 5px;
            display: block;
            &:focus {
                border: 3px solid #1C62A3 !important;
                outline: none;
            }

        }
        .form-input {
            width: 60%;
            height: 50px;
            display: block;
            border-radius: 5px;
            border-width: 1px;

            &:focus {
                border: 3px solid #1C62A3 !important;
                outline: none;
            }
        }
        .form-area {
            width: 80%;
            display: block;
            border-radius: 5px;
            border-width: 1px;
            &:focus {
                border: 3px solid #1C62A3 !important;
                outline: none;
            }
        }
        .icon-post {
            color: black;
            height: 30px;
            width: 30px;
            margin-right: 40px;
        }
        .right-post {
            width: 90%;
        }
        .greeting-title {
            font-size: 40px;
            text-align: center;
        }
        .label-title {
            font-weight: bold;
            display: block;
            font-size: 25px;
        }
        .label-subTitle {
            font-size: 18px;
            margin-top: 1%;
            margin-bottom: 1%;
        }
        .career-post {
            padding: 16px;
            border: 1px solid #A8A2A2;
            margin-bottom: 20px;
            display: flex;
            border-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
            select {
                margin-bottom: 16px;

            }
        }
        .title-post {
            padding: 16px;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;

        }
        .post-detail {
            padding: 16px;
            display: flex;
            border: 1px solid #A8A2A2;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
            .label-attach {
                margin-top: 16px;
                color: blue;
            }
            .attach {
                display: block;
            }
            input {
                margin-bottom: 16px;
            }
        }

        .more-req {
            padding: 16px;
            display: flex;
            border: 1px solid #A8A2A2;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
        }
        .budget-post {
            padding: 16px;
            display: flex;
            border: 1px solid #A8A2A2;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
            input::placeholder {
                text-align: right;
            }
        }
        .submit-button {
            width: 100%;
            height: fit-content;
            padding: 25px;
            text-align: center;
            margin: 0 auto;
            background-color: #f0f0f0;
            box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
            button {
                margin-bottom: 20px;
                font-weight: bold;
            }
        }
    }
}

.form-Post{
    padding: 20px;
}

.input-skill{
    // display: flex;
    Button{
        margin: 7px;
    }
 
}
.demo-option-label-item > span {
    margin-right: 6px;
  }
.upload{
    margin: 10px 0;
}