.wrapper {
    margin: 120px;
    height: 291px;
    p{
        align-content: center;
    }
}
.content{
    margin: 0 auto;
    width: 1200px;
    height: 291px;
    padding: 20px;
    background-color: #fff;
    text-align: center;
}
.top{
    font-weight: 600;
    color: #5bc53b;
    font-size: 24px;

}