.wrapper {
    margin: 120px;
}
.form {
    background: #fff;
    border: 2px solid #c5dafa;
    margin: 0 auto;
    max-width: 530px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.title {
    color: rgb(59, 122, 204);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}
.btn {
    height: 50px;
    font-size: 18px;
}
.full-name {
    display: flex;
    flex-direction: row;
}
.container {
    margin: 10px 0;
}
.margin-right {
    width: 251px;
    margin-right: 20px;
}
.custom {
    padding: 10px !important;
    + label {
        padding: 10px 0 10px 5px !important;
    }
    &:focus {
        border: none;

        + label {
            color: #6aa0f7 !important;
            transform: translateY(-1rem) translateY(0.1rem) scale(0.8) !important;

            + div {
                border: none;
            }
            + div > div {
                border-color: #6aa0f7 !important;
            }
            + div > div:nth-child(1) {
                border-right: none !important;
                box-shadow: -1px 0 0 0 #6aa0f7, 0 -1px 0 0 #6aa0f7, 0 1px 0 0 #6aa0f7 !important;
            }
            + div > :nth-child(2) {
                border-left: none !important;
                border-right: none !important;
                border-top: 1px solid transparent !important;
                box-shadow: 0 1px 0 0 #6aa0f7 !important;
            }
            + div > :nth-child(3) {
                border-left: none !important;
                box-shadow: 1px 0 0 0 #6aa0f7, 0 -1px 0 0 #6aa0f7, 0 1px 0 0 #6aa0f7 !important;
            }
        }
    }
}
.forgot-link {
    font-size: 18px;
}
.text {
    text-align: center;
    font-weight: 400;
    margin-top: -5px;
}
.register-link {
    font-size: 17px;
    padding: 0;
    display: inline;
}
