.wrapper {
    margin: 130px 120px 0 120px;
    min-height: 600px;
}
.message{
    width: 1202px;
    margin: 0 auto;
    font-weight: 600;
}
.messageError{
    border-color: #fff !important;
    padding: 0px;
    div{
        color: red;
    }
}
.container{
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    padding-top: 0;
}
.left{
    width: 49%;
    h1{
        img{
            width: 130px;
            height: 130px;
            margin-bottom: 35px;
        }
    }
}
.form{
    width: 70%;
}
.label{
    font-weight: 600;
}
.email{
    margin-bottom: 10px;
}
.container-password{
    display: flex;
    justify-content: space-between;
}
.input{
    position: relative;
}
.input-icon{
    position: absolute;
    right: 10px;
    top: 10px;
    color: gray;
}
.btn{
    color: #2596be;
    text-decoration: none;
    font-size: 16px;
    padding: 0;
    &:hover{
        color: #1e7898;
    }
}
.bottom{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    p{
        margin-top: 10px;
        margin-bottom: 11px;
    }
}
.btn-login{
    background-color: #1c62a3;
    margin-top: 30px;
    height: 45px;
    color: white;
    &:hover{
        background-color: #3372ac;
    }
}
.right{
    width: 49%;
    padding-top: 150px;
    padding-left: 30px;
    h2{
        font-size: 24px;
        color: #475B6F;
        margin-bottom: 20px;
    }
}
.list{
    list-style-type: none;
    padding: 0;
    li{
        padding-bottom: 24px;
        svg{
            color: green;
            margin-right: 5px;
        }
    }
}
.validate{
    color: red;
    div{
        border-color: red;
    }
    input{
        border-color: red;
    }
    + div{
        border-color: red;
    }
}

