.wrapper {
    margin: 60px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 900px;
    background-color: #fff; 
    padding: 10px;
    
}
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
}
.page-title{
    height: 60px;
    width: 880px;
}
.btn-post{
    font-size: 20px;
    height: 50px;
    color: #fff;
    background-color: #1890ff;
}
.btn-post:hover{
    background-color: #40a9ff;
}
.search{
    width: 100%;
}
.filter{
    width: 100%;
}
.filter-search{
    height: 100px;
    background-color: #fff;
    border-top: 1px solid #adb4c5;   
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.input-keyword{
    width: 70%;
}
.button-first{
    width: 90px;
    height: 32px;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-left: 9%;
    background-color: #1890ff;
    &:hover{
        background-color:#40a9ff;
    }
}

.choose-item{
    background-color: #abbaf5;
    display: flex;
    flex-direction: row;
}

//date
.date{
    margin-left: 50px;
    width: 300px;
}
.date h5{
   padding-top: 30px;
   padding-left: 10px;
   margin-bottom: 20px;
   font-weight: bold;
}
.date input{
    margin: .6rem;
}
.faCircle{
    font-size: 15px;
    margin-left: 40px;
    margin-bottom: 20px;
}

//career
.career{
    width: 300px;
    height: 250px;
}
.career-first{
    padding-top: 30px;
}
.career-first h5{
    font-weight: bold;
    margin-bottom: 20px;
}
.career-first select{
    width: 200px;
    height: 30px;
}

//address
.address{
    margin-top: 40px;
    display: block;
}
.address h5{
    font-weight: bold;
    margin-bottom: 20px;
}
.button-second{
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    background-color: #55ABFB;
}
.search-first{
    width: 170px;
    height: 30px;
}

//skills
.skills{
    width: 300px;
    height: 250px;
    padding-top: 30px;
}
.skills h5{
    font-weight: bold;
    margin-bottom: 20px;
}
.skills select{
    width: 200px;
    height: 30px;
}

//button close
.button-close{
    height: 100px;
    display: flex;
    background-color: #abbaf5;
}
.btn-closes{
    margin-top: 30px;
    margin-left: 80px;
    font-size: 20px;
    height: 40px;
    color: #55ABFB;
    border: 1px solid #adb4c5;
}
.btn-closes:hover{
    background-color: rgb(180, 214, 214);
}
.infor-person{
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.infor-person p{
    padding-top: 30px;
    padding-left: 600px;
    color: #55ABFB;
    
}
.infor-freelancer{
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #adb4c5;
    margin-top: 2%;
}
.messageResults{
    padding: 20px;
    text-align: center;
}
.paging{
    float: right;
    margin-top: 5px;
}