.wrapper {
    margin-left: 30px;
    margin-top: 70px;
    margin-bottom: 30px;

    .nav {
        width: 900px;
        font-size: 25px;
        margin: 0 auto;
        border-radius: 20px;
        background-color: #ffffff;
        border: 1px solid #a8a2a2;
        margin-bottom: 25px;

        .nav-item1 {
            width: 50%;
            display: inline-block;
            padding: 10px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            text-align: center;
            color: black;
        }

        .nav-item2 {
            width: 50%;
            padding: 10px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            display: inline-block;
            text-align: center;
            color: white;
            background: #5a97f1;
        }
    }

    .container {
        width: 900px;
        margin: 0 auto;
        font-size: 25px;
        border-radius: 20px;
        background-color: #ffffff;
        border: 1px solid #a8a2a2;

        .list-freelancer {
            margin-bottom: 10px;
            .list-head {
                padding: 10px;
                font-weight: 600;
                font-size: 70%;
                .head-item1 {
                    display: inline-block;
                }
                .head-item2 {
                    display: inline-block;
                    margin-left: 10px;
                    border-left: 1px solid #5e5353;
                    border-right: 1px solid #5e5353;
                    padding-left: 10px;
                    padding-right: 10px;
                }
                .head-item3 {
                    display: inline-block;
                    margin-left: 10px;
                }
            }

            .search-area {
                margin-top: 10px;
           
                .search-input {
                    display: flex;
                    margin-left: 35px;            
                    margin-bottom: 8px;    
                }

                .total-number-freelancer {
                    width: 100%;
                    padding-left: 0px;                 
                    font-size: 70%;
                    border-bottom: 1px solid #a8a2a2;
                    .txt1 {
                        margin-left:35px;
                        display: inline-block;
                        color: #4476c2;
                        font-weight: 600;
                    }
                    .txt2 {                   
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }
            .freelancer {
                margin-top: 20px;
                border-bottom: 1px solid #a8a2a2;
                .left {
                    width: 18%;
                    display: inline-block;
                    float: left;
                    .avatar {
                        img {
                            margin-left: 35px;
                            margin-top: 6px;
                            height: 110px;
                            width: 110px;
                            background-color: #bbb;
                            border-radius: 50%;
                            background: rgb(129, 180, 247);
                        }
                    }
                }
                .right {
                    width: 82%;
                    display: inline-block;
                    .row1 {
                        width: 100%;
                        display: inline-block;
                        .freelancer-username {
                            width: 69%;
                            font-weight: 700;
                            display: inline-block;
                            color: #2472e6;
                        }
                        .action {
                            font-size: 60%;
                            width: 31%;
                            display: inline-block;
                            font-weight: 600;
                            .btn-approve {
                                padding: 4px 18px 4px 18px;
                                border-radius: 30px;
                                display: inline-block;
                                color: white;
                                background: #4385e9;
                                text-align: center;
                                border: 1px solid #4385e9;
                            }
                            .btn-approve:hover {
                                background: #29589e;
                            }
                            .btn-deny {
                                margin-left: 8px;
                                padding: 4px 14px 4px 14px;
                                border-radius: 30px;
                                border: 1px solid #a8a2a2;
                                display: inline-block;
                                color: #4385e9;
                                background: white;
                                text-align: center;
                            }
                            .btn-deny:hover {
                                background: rgb(129, 128, 128);
                                color: white;
                            }
                        }
                    }
                    .row2 {
                        width: 100%;
                        font-size: 55%;
                        .freelancer-subcareer {
                            height: 100%;
                            padding: 1px 8px 1px 8px;
                            background: #bd2af0;
                            border-radius: 15px;
                            color: white;
                            display: inline-block;
                            text-align: center;
                        }
                    }
                    .row3 {
                        margin-top: 5px;
                        width: 100%;
                        font-size: 85%;
                        .number-skill-relevant {
                            color: black;
                            font-weight: 600;
                            display: inline-block;
                        }
                        .freelancer-location {
                            margin-left: 0px;
                            display: inline-block;
                            text-align: right;
                        }
                    }
                    .row4 {
                        margin-top: 5px;
                        display: inline-block;
                        font-size: 70%;
                        .skills {
                            .skill {
                                display: inline-block;
                                padding: 1px 6px 1px 6px;
                                background: #b2bdc9;
                                border-radius: 15px;
                                color: #444343;
                                display: inline-block;
                                margin-right: 4px;
                            }
                        }
                    }
                    .row5 {
                        margin-top: 5px;
                        margin-bottom: 5px;
                        width: 100%;
                        display: inline-block;
                        
                        .left-area {
                            display: inline-block;
                            .feedback-title {
                                font-size: 50%;
                                vertical-align: text-top;
                                font-weight: 600;
                                color: black;
                            }
                            .ic-feedback {
                                font-size: 16px;
                                color: rgb(230, 230, 67);
                                text-align: center;
                            }
                        }
                        .right-area {
                            display: inline-block;
                            margin-left: 5px;
                            .avg-star-point {
                                font-size: 13px;
                                font-weight: 600;
                                color: #868585;
                            }
                            .total-number-feedback {
                                font-size: 9px;
                                color: #a8a2a2;
                            }
                        }
                    }
                }
            }
        }
        .paging {
            margin-left: 600px;
            margin-bottom: 10px;
            width: 100%;
         
        }
    }
}


