.wrapper {
    margin: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 1000px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #A8A2A2;
    border-radius: 10px;
}
.person-info{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid #A8A2A2;
}
.label{
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: 600;
    padding-top: 20px;
    p{
        margin-right: 10px;
        margin-bottom: 0;
    }
    svg{
        font-size: 28px;
        margin-top: 5px;
        color: #2ca7d0;
        &:hover{
            cursor: pointer;
            color:#567396;
        }
    }
}
.container-info{
    display: flex;
    flex-direction: row;
}

.avatar {
    padding: 20px 20px 0 20px;

}
.avatar-container {
    position: relative;
    display: inline-block;
}
.avatar-img {
    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        vertical-align: middle;
    }
}
.avatar-upload {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0.1875rem;
    right: 0.1875rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #a1a1a1;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    font-size: 0.875rem !important;

    label{
        color: #2ca7d0;
        &:hover{
            cursor: pointer;
            color:#567396;
        }
    }
    input{
        display: none;
    }
}
.person-name{
    font-size: 22px;
    font-weight: 600;
    padding-top: 20px;
    padding-right: 10px;
    width: 250px;
    border-right: 1px solid #A8A2A2;
}
.info-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;    
    svg{

        font-size: 22px;
        color: #2ca7d0;
    }
    p {
        font-size: 20px;
        margin: 0 10px;
    }
}
.company-info{
    min-height: 300px;
}
.left{
    width: 40%;
    
}
.info-item2{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    padding: 5px 10px;
    color: #645757;
    p {
        margin: 0 10px;
    }
    a{
        margin-left: 5px;
        color: #645757;
    }
}
.right{
    width:60%;
    padding-left: 20px;
    border-left: 1px solid #A8A2A2;
    p{
        font-size: 18px;
    }
}