.wrapper {
    margin: 120px;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
//container
.container {
    width: 900px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    background-color: #ced7ee;
    border: 1px solid #adb4c5;   
}
.container-header{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.title{
    padding: 10px;
}
.btn-recharge{
    font-size: 20px;
    text-decoration: none;
    background-color: #ced7ee;
    color: #0080dd;
    &:hover{
        color: #0073c7;
    }
}

//.container-date
.container-first{
    margin-top: 25px;
    height: 150px;
    display: flex;
    border-radius: 5px;
    border: 1px solid #5673b6; 
    background-color: white;
    font-size: 18px;
    padding: 58px;
}
.label{
    margin-right: 10px;
}
.container-date-first{
    width: fit-content;
    height: 70px;
}
.container-first tr td{
    padding: 3px;
}
.container-date-first tr td:first-child{
    color: #063BB7;
}
.container-date-second{
    width: fit-content;
    height: 70px;
    margin-left: 16%;
}
.container-date-second tr td:first-child{
    color: #063BB7;
}
.icon{
    margin-left: 16%;
}
.button-search{
    height: 32px;
    background-color: #0074F5;
    color: white;
    font-size: 16px;
}
.button-search h6{
    color: white;
}

//recharge
.recharge{
    margin-top: 10px;
    background-color: white;
    border: 1px solid #adb4c5;  
    align-items: center;

}
.recharges {
    margin-top: 20px;
    margin-left: 25px;
    width: 94%;
    text-align: center;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    .table-header {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #0074F5;
        color: #fff;
    }
    td,
    th {
        border: 1px solid #fff;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dfdfeb;
    }
}
.table-paging {
    margin-top: 15px;
    color: rgba(22, 24, 35, 0.5) !important;
    .active-page span{
        background-color: #4f5d73 !important;
        border-color: #4f5d73 !important;
        color: var(--white) !important;
    }
    li a{
        color: rgba(22, 24, 35, 0.8) !important;
    }
}

.paging{
    padding: 10px 0 10px 25px;
}
//banner
.mb-bank{
    width: 200px;
    height: 100%;
}

.bannerSale_left{
    margin-right: 20px;
}
.bannerSale_right{
    margin-left: 20px;
}