.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 16px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    margin-left: 12px;
}

.name {
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
    margin-bottom: 0px;

}

.email {
    font-size: 18px;
    color: rgba(22, 24, 35, 0.5);
}
