.wrapper {
    padding: 0;
    .container {
        width: var(--default-layout-width);
        margin: var(--default-margin-top-title-admin) auto;
        .title {
            text-align: center;
            font-family: arial, sans-serif;
        }
        .table-paging {
            margin-top: 20px;
        }
        .subcareer-filter {
            display: flex;
            .career-list {
                width: fit-content;
                border-radius: 5px;
                background-color: #DEE0E3;
                .subCareer-search {
                    input {
                        height: 40px;
                        width: 300px;
                        margin-right: 20px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .subCareers {
            width: 100%;
            text-align: center;
            font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            border: 3px solid #ddd;
            td,
            th {
                border: 1px solid #fff;
                padding: 8px;
            }
            tr {
                &:nth-child(even) {
                    background-color: #d0d0e1;
                }
                &:hover {
                    background-color: #a9a9a9;
                }
            }
            .table-header {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: center;
                background-color: #4f5d73;
                color: #fff;
            }
        }
    }
}
