.wrapper {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: var(--default-layout-width);
    padding: 20px;
}
.greeting {
    width: 900px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}
.greeting-title {
    font-size: 25px;
    font-weight: bold;
}
.greeting-content {
    font-size: 15px;
    width: 800px;
}

.profile-content {
    width: 900px;
    margin-top: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 150px;
}
.profile-basic {
    width: 100%;
}
.personal-title {
    padding: 20px 30px 0 30px;
    font-weight: bold;
    font-size: 20px;
}
.avatar {
    width: 100%;
    padding: 20px 30px 0 30px;
}
.avatar-container {
    position: relative;
    display: inline-block;
}
.avatar-img {
    img {
        width: 100px;
        height: 100px;
        border: 5px solid #358ccb;
        border-radius: 50%;
        vertical-align: middle;
    }
}
.avatar-upload {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0.1875rem;
    right: 0.1875rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #a1a1a1;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    font-size: 0.875rem !important;
    color: #20ad5f !important;
}
.avatar-instruction {
    font-size: 0.875rem !important;
    color: #616466 !important;
    margin-top: 0.5rem !important;
}
.personal-info {
    padding: 20px 30px 0 30px;
}
.row {
    display: flex;
    flex-direction: row;
}
.full-name {
    width: 50%;
    margin-right: 2%;
}
.custom {
    padding: 10px !important;
    + label {
        padding: 10px 0 10px 5px !important;
    }
    &:focus {
        border: none;

        + label {
            color: #6aa0f7 !important;
            transform: translateY(-1rem) translateY(0.1rem) scale(0.8) !important;

            + div {
                border: none;
            }
            + div > div {
                border-color: #6aa0f7 !important;
            }
            + div > div:nth-child(1) {
                border-right: none !important;
                box-shadow: -1px 0 0 0 #6aa0f7, 0 -1px 0 0 #6aa0f7, 0 1px 0 0 #6aa0f7 !important;
            }
            + div > :nth-child(2) {
                border-left: none !important;
                border-right: none !important;
                border-top: 1px solid transparent !important;
                box-shadow: 0 1px 0 0 #6aa0f7 !important;
            }
            + div > :nth-child(3) {
                border-left: none !important;
                box-shadow: 1px 0 0 0 #6aa0f7, 0 -1px 0 0 #6aa0f7, 0 1px 0 0 #6aa0f7 !important;
            }
        }
    }
}
.sex-form {
    width: 48%;
    border: 1px solid #bdbdbd;
    border-top: none;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    position: relative;
}

.label {
    position: absolute;
    left: 0.75rem;
    padding-top: 0.37rem;
    transform-origin: 0 0;
    margin-bottom: 0;
    display: inline-block;
    transform: translateY(-1rem) translateY(0.1rem) scale(0.8) !important;
    font-size: 18px;
}
.content {
    display: flex;
    flex-direction: row;
}
.man {
    margin: 10px 20px 10px 60px;
}
.woman {
    margin: 10px 0 10px 50px;
}
.other {
    margin: 10px 0 10px 50px;
}
.left-top {
    border-top: 1px solid #bdbdbd;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 0.25rem;
}
.right-top {
    border-top: 1px solid #bdbdbd;
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;
    height: 10px;
    border-radius: 0.25rem;
}
.date-picker {
    fieldset {
        height: 46px;
        border-top: none !important;
    }
    div {
        &:hover {
            fieldset {
                border-color: rgba(0, 0, 0, 0.23) !important;
                border-top: none !important;
            }
        }
    }
}
.profile-complex {
}
