.wrapper {
    margin: 120px;
}
.container {
    background: #fff;
    border: 1px solid #196885;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.title{
    text-align: center;
    margin-bottom: 0px;
}
.under-title{
    text-align: center;
    font-size: 16px;
}
.gray-500{
    color: gray;
    font-weight: 500;
}
.link{
    font-size: 18px;
    padding: 0px;
    color:#1c62a3;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color: #195893;
    }
}
.role{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.freelancer{
    margin-right: 10px;
}
.message{
    padding-left: 24px;
    color: #49be25;
    font-weight: 600;
}