.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// Left side
.logo-link {
    display: flex;
    height: 100px;
    width: 140px;
}

// Middle side
.middle-btn{
    padding-left: 2px !important;
    padding-right: 10px !important;
    box-shadow: none !important;
    font-size: .95rem !important;
    font-weight: 600 !important;
    border: none;
    &:hover{
        background-color: rgb(0 0 0 / 20%);
        border: none;
    }
}

// Right side
.right-side{
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 15px;
    align-items: center;
}
.notification-list{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    
    h2{
        padding: 10px 0;
        text-align: center;
        border-bottom: 1px solid gray;

    }
}
.wrapper-item{
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    &:hover{
        cursor: pointer;
        background-color: rgba(71, 68, 68, 0.2);
    }
}
.avatar-item{
    padding: 5px;
}
.noti-avatar{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}
.content{
    p{
        margin: 0;
    }
}
.time{
    p{
        font-size: 16px;
        margin: 0;
    }
}
.notification{
    color: #0080dd;
    &:hover{
        cursor: pointer;
    }
}
.wallet{
    margin-left: 14px;
    color: #0080dd;
    &:hover{
        cursor: pointer;
    }
}
.wallet-popup{
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 8px;
    border-radius: 8px;
    background: rgb(255, 255, 255);

}
.wallet-info{
    padding: 11px 16px;
    font-family: var(--font-family);
    .wallet-label{
        padding: 10px;
        padding-right: 0;
        border-start-start-radius: 5px;
        border-end-start-radius: 5px;
        font-weight: 600;
        font-size: 18px;
        background-color: #81aee9;
    }
    .wallet-cash{
        padding: 11px 0px;
        padding-right: 10px;
        border-end-end-radius: 5px;
        border-start-end-radius: 5px;
        background-color: #81aee9;
    }
}
.wallet-action{
    a:nth-child(2){
        margin-left: 0px;
    }
}
.wallet-btn{
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    padding: 11px 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #48494A;
    text-decoration: none;
    border-top: 1px solid rgba(22, 24, 35, 0.12);

    &:hover {
        text-decoration: none;
        background-color: rgba(22, 24, 35, 0.1);
        color: var(--text-color) ;
    }

}
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}


