// If you want to override variables do it here
@import 'variables';

$enable-ltr: true;
$enable-rtl: true;

// Import Antd
@import "antd/dist/antd.css";


// Import CoreUI for React components library
@import '@coreui/coreui/scss/coreui';

// Import Chart.js custom tooltips styles
@import '@coreui/chartjs/scss/coreui-chartjs';

//tippy
@import 'tippy.js/dist/tippy.css';

// Fonts 
@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/ProximaNova-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: ProximaNova;
    src: url('/assets/fonts/Proxima-Nova-Bold.woff');
    font-weight: 700;
}

@font-face {
    font-family: SofiaPro;
    src: url('/assets/fonts/sofiapro-bold.woff');
    font-weight: 700;
}

@import 'layout';
@import 'example';

// If you want to add custom CSS you can put it here.
@import 'custom';:root {
    --primary: #1C62A3;
    --black: #000;
    --white: #fff;
    --font-family: 'ProximaNova', sans-serif;
    --text-color: #161823;
    --approve:#00b302;
    --deny:#c90000;
    --close:#89a2c8;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1200px;
    --default-content-width: 900px;
    --default-layout-horizontal-spacer: 24px;
    --default-margin-top-title-admin: 80px;

    // search
    --search-border-radius: 5px;
    --search-height: 43px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
}
body {
    font-family: var(--font-family);
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}
.nav-icon-custom{
    margin-left: -16px;
    vertical-align: middle;
    flex: 0 0 var(--cui-sidebar-nav-icon-width);
    height: var(--cui-sidebar-nav-icon-height);
    font-size: var(--cui-sidebar-nav-icon-font-size);
    color: var(--cui-sidebar-nav-link-icon-color);
    text-align: center;
    fill: currentColor;
    transition: inherit;

}
