// If you want to override variables do it here
@import 'variables';

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import '@coreui/coreui/scss/coreui';

// Import Chart.js custom tooltips styles
@import '@coreui/chartjs/scss/coreui-chartjs';

//tippy
@import 'tippy.js/dist/tippy.css';

@import 'layout';
@import 'example';

// If you want to add custom CSS you can put it here.
@import 'custom';:root {
    --primary: #fe2c55;
    --black: #000;
    --white: #fff;

    // Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1200px;
    --default-layout-horizontal-spacer: 24px;
    --default-margin-top-title-admin: 80px;

    // search
    --search-border-radius: 13px;
    --search-height: 43px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
}
